body {
	font-family: "futura-pt";
}

h2 {
	font-weight: normal;
}

h3 {
	font-family: "marydale";
	font-size: 16px;
}
h4,
h5,
h6 {
	font-family: "Courier Prime";
}

/* NAV */

/* .offcanvas-start{
  position: absolute;
  top: 0;
}



/* @media(max-width: 768px){
  .offcanvas-start{
    top: 95px;
  }
  .offcanvas-backdrop.show{
    opacity: 0;
  }
} */

header {
	position: relative;
	z-index: 10;
	background: #fff;
}

.offcanvas {
	top: 3.5rem;
}

.offcanvas-body a {
	font-weight: 500;
	color: #000;
	font-size: 20px;
}

.offcanvas-backdrop.show {
	display: none;
}

#secondNav {
	padding-top: 0.35rem;
}

#secondNav a {
	display: inherit;
	color: white;
	text-decoration: none;
	cursor: pointer;
	padding-bottom: 0.35rem;
}

#secondNav a i {
	font-size: 19px;
	display: block;
}
@media (max-width: 768px) {
	#secondNav a {
		font-size: 14px;
	}
	.bottle-selection-nav a {
		font-size: 10px !important;
	}
}
a.word::before {
	display: block;
	content: attr(data-title);
	font-weight: bold;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
#secondNav a span {
	font-size: 20px;
	margin-bottom: 10px;
	vertical-align: text-top;
}
#secondNav a.is-active {
	color: #e7ecb6;
	border-bottom: 1px solid #e7ecb6;
}

#secondNav a.current {
	color: #fff !important;
	border-bottom: 1px solid #fff !important;
}

#secondNav .price {
	color: white;
	font-size: 14px;
}
#secondNav .price span {
	font-size: 12px;
}

/* END NAV */

/* DATA TEMPLATE */

#animatedGradient {
	animation: gradient 25s ease infinite;
	background-size: 400% 400%;
	position: relative;
	min-height: 100vh;
}

#animatedGradient h3:not(.scent-name) {
	font-size: 16px;
	color: white;
}

#nameScent {
	z-index: 9999;
	position: relative;
}

#bottleIt {
	position: absolute;
	right: 0;
	top: 10px;
	width: 60px;
	animation: expand 1s forwards;
}

#perfumeName {
	background: none;
	border: 0;
	font-size: 22px;
	text-align: center;
	color: black;
	opacity: 1;
}

#perfumeName::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: white;
	opacity: 1;
}
#perfumeName::-moz-placeholder {
	/* Firefox 19+ */
	color: white;
	opacity: 1;
}
#perfumeName:-ms-input-placeholder {
	/* IE 10+ */
	color: white;
	opacity: 1;
}
#perfumeName:-moz-placeholder {
	/* Firefox 18- */
	color: white;
	opacity: 1;
}

@keyframes expand {
	0% {
		transform: rotateY(90deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}

@-webkit-keyframes expand {
	0% {
		transform: rotateY(90deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}

@-moz-keyframes expand {
	0% {
		transform: rotateY(90deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}

@keyframes gradient {
	0% {
		background-position: 0 0;
	}
	25% {
		background-position: 50% 0;
	}
	50% {
		background-position: 90% 0;
	}
	60% {
		background-position: 60%;
	}
	75% {
		background-position: 40%;
	}
	100% {
		background-position: 0 0;
	}
}

@keyframes gradient-circle {
	0% {
		background-position: 0 50%;
	}
	25% {
		background-position: 50% 50%;
	}
	50% {
		background-position: 90% 50%;
	}
	60% {
		background-position: 60% 50%;
	}
	75% {
		background-position: 40% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

@keyframes fade-out {
	0% {
		filter: blur(1px);
		opacity: 1;
	}
	100% {
		filter: blur(100px);
		opacity: 0;
	}
}

.point {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.aboveDroplets {
	z-index: 1;
}

#topMiddleBaseVisualiser {
	color: white;
	font-family: "Courier Prime";
	padding-bottom: 200px;
}

#chartContainer {
	padding-bottom: 200px;
}

@keyframes circle-anim {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	60% {
		opacity: 0;
		border-color: #f0f6ff;
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}

.circle-1,
.circle-2,
.circle-3,
.circle-4,
.circle-5,
.circle-6 {
	width: 800px;
	height: 800px;
	border: 1rem solid #fff;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0.01);
	filter: blur(3rem);
	opacity: 0;
	box-shadow: inset 0 0 2px #fff;
}
.circle-1 {
	animation: 4s linear forwards circle-anim;
	border-color: #58cbee;
}
.circle-2 {
	animation: 4.1s linear 0.1s forwards circle-anim;
}
.circle-3 {
	animation: 4.2s linear 0.2s forwards circle-anim;
	border-color: #d6f9ff;
}
.circle-4 {
	animation: 4.3s linear 0.3s forwards circle-anim;
}
.circle-5 {
	animation: 4.4s linear 0.4s forwards circle-anim;
	border-color: #e6f9ff;
}
.circle-6 {
	animation: 4.5s linear 0.5s forwards circle-anim;
	border-color: #fff;
}

#topMiddleBaseVisualiser .scentTitleBubble {
	font-family: "futura-pt";
}

#topMiddleBaseVisualiser .scentTitleBubble,
#topMiddleBaseVisualiser img {
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 20s;
}

#topMiddleBaseVisualiser .scentTitleBubble:nth-child(3n - 2),
#topMiddleBaseVisualiser img:nth-child(3n - 2) {
	animation-name: floating;
}

#topMiddleBaseVisualiser .scentTitleBubble:nth-child(2n - 2),
#topMiddleBaseVisualiser img:nth-child(2n - 2) {
	animation-name: floating2;
}

#topMiddleBaseVisualiser .scentTitleBubble:nth-child(1n - 2),
#topMiddleBaseVisualiser img:nth-child(1n - 2) {
	animation-name: floating3;
}

#topMiddleBaseVisualiser #topPercentage,
#topMiddleBaseVisualiser #middlePercentage,
#topMiddleBaseVisualiser #basePercentage {
	font-family: "futura-pt";
	font-size: 20px;
}

#topMiddleBaseVisualiser img {
	-webkit-filter: drop-shadow(5px 10px 5px #bbbaba57);
	filter: drop-shadow(5px 10px 5px #bbbaba57);
}

#topMiddleBaseVisualiser #topBlendContainer,
#topMiddleBaseVisualiser #middleBlendContainer,
#topMiddleBaseVisualiser #baseBlendContainer {
	padding: 60px 0px;
}

@keyframes floating {
	0% {
		transform: translate(0%, 0%);
	}
	25% {
		transform: translate(2.5%, 10%);
	}
	50% {
		transform: translate(0%, 10%);
	}
	75% {
		transform: translate(0%, 0%);
	}
	100% {
		transform: translate(5%, 5%);
	}
}

@keyframes floating2 {
	0% {
		transform: translate(0%, 0%);
	}
	15% {
		transform: translate(5%, 10%);
	}
	50% {
		transform: translate(0%, 10%);
	}
	70% {
		transform: translate(5%, 5%);
	}
	100% {
		transform: translate(0%, 0%);
	}
}

@keyframes floating3 {
	0% {
		transform: translate(0%, 0%);
	}
	25% {
		transform: translate(5%, 10%);
	}
	50% {
		transform: translate(5%, 5%);
	}
	75% {
		transform: translate(0%, 10%);
	}
	100% {
		transform: translate(0%, 0%);
	}
}

#bubbleWrap {
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
	0% {
		margin-top: 100vh;
	}
	100% {
		margin-top: -100vh;
	}
}

@-moz-keyframes animateBubble {
	0% {
		margin-top: 100vh;
	}
	100% {
		margin-top: -100vh;
	}
}

@keyframes animateBubble {
	0% {
		margin-top: 100vh;
	}
	100% {
		margin-top: -100vh;
	}
}

@-webkit-keyframes sideWays {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: 50px;
	}
}

@-moz-keyframes sideWays {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: 50px;
	}
}

@keyframes sideWays {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: 50px;
	}
}

@-moz-keyframes appearDown {
	from {
		top: -100rem;
	}

	to {
		top: 0;
	}
}

@keyframes appearDown {
	from {
		top: -100rem;
	}

	to {
		top: 0;
	}
}

@-moz-keyframes appearUp {
	from {
		bottom: -5rem;
	}

	to {
		bottom: 0;
	}
}

@keyframes appearUp {
	from {
		bottom: -5rem;
	}

	to {
		bottom: 0;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* BUBBLE ANIMATIONS */

.x1 {
	-webkit-animation: animateBubble 25s linear infinite,
		sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite,
		sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite,
		sideWays 4s ease-in-out infinite alternate;

	left: -5%;
	top: 5%;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
	-webkit-animation: animateBubble 20s linear infinite,
		sideWays 8s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite,
		sideWays 8s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite,
		sideWays 8s ease-in-out infinite alternate;

	left: 5%;
	top: 80%;

	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
	-webkit-animation: animateBubble 28s linear infinite,
		sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite,
		sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite,
		sideWays 4s ease-in-out infinite alternate;

	left: 10%;
	top: 40%;

	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
	-webkit-animation: animateBubble 22s linear infinite,
		sideWays 6s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite,
		sideWays 6s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite,
		sideWays 6s ease-in-out infinite alternate;

	left: 20%;
	top: 0;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
	-webkit-animation: animateBubble 29s linear infinite,
		sideWays 8s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite,
		sideWays 8s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite,
		sideWays 8s ease-in-out infinite alternate;

	left: 30%;
	top: 50%;

	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
	-webkit-animation: animateBubble 21s linear infinite,
		sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite,
		sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite,
		sideWays 4s ease-in-out infinite alternate;

	left: 50%;
	top: 0;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
	-webkit-animation: animateBubble 20s linear infinite,
		sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite,
		sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite,
		sideWays 4s ease-in-out infinite alternate;

	left: 65%;
	top: 70%;

	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
	-webkit-animation: animateBubble 22s linear infinite,
		sideWays 6s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite,
		sideWays 6s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite,
		sideWays 6s ease-in-out infinite alternate;

	left: 80%;
	top: 10%;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
	-webkit-animation: animateBubble 29s linear infinite,
		sideWays 8s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite,
		sideWays 8s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite,
		sideWays 8s ease-in-out infinite alternate;

	left: 90%;
	top: 50%;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
	-webkit-animation: animateBubble 26s linear infinite,
		sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite,
		sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite,
		sideWays 4s ease-in-out infinite alternate;

	left: 80%;
	top: 80%;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2),
		inset 0px 1px 3px 5px rgba(255, 255, 255, 0.2);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2),
		inset 0px 1px 3px 5px rgba(255, 255, 255, 0.2);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2),
		inset 0px 1px 3px 5px rgba(255, 255, 255, 0.2);

	height: 20px;
	position: absolute;
	width: 20px;
	opacity: 0.5;
}

#blendlist {
	width: 100vw;
}

#blendlist .blends {
	display: flex;
	gap: 1rem;
	overflow-x: auto;
	scroll-snap-type: x;
	scroll-padding: 1rem;
}

#blendlist .blends img {
	scroll-snap-align: center;
	flex: 0 0 150px;
	width: 150px;
	height: 150px;
	border-radius: 5px;
}

.blendButton h2 {
	font-size: 12px;
	font-weight: normal;
}
#animatedGradient .blendButton h2,
#animatedGradient #addRemoveRestart {
	color: white;
}
.blendButton .blendTab {
	background: white;
	border-radius: 80px;
	padding: 5px 20px 5px 5px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.11);
	box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.11);
	margin-bottom: 15px;
	margin-right: 15px;
}

.blendButton .blendTab:hover {
	cursor: pointer;
}

.blendButton .blendTab .blendImage {
	background: url(img/blendImage.png);
	width: 50px;
	height: 50px;
	border-radius: 360px;
	background-size: cover !important;
}

.blendList.blendImage {
	background: url(img/blendImage.png);
	width: 50px;
	height: 50px;
	border-radius: 360px;
	border: 2px white solid;
	background-size: cover !important;
	transition: all 0.5s ease-in-out;
}
.locked.blendList.blendImage {
	opacity: 40%;
}

.add-button button {
	border: none;
	background: none;
	text-decoration: underline;
	padding: 0;
	margin: 0 0 1rem;
}

#percentageToggler {
	background: linear-gradient(-45deg, #dd71c7de, #45a8dfcf, #c189d4db);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	color: white;
}

#rangeContainer {
	position: fixed;
	width: 100%;
	bottom: 1em;
	left: 0;
}

.range-slider .fragranceName {
	color: white;
	font-weight: 500;
}
.range-slider label {
	font-size: 40px;
	color: white;
	line-height: 30px;
}

.slido {
	-webkit-appearance: none;
	width: 280px;
	height: 5px;
	border-radius: 5px;
	background: #fff;
	outline: none;
	/* transform: rotate(-90deg); */
}

@media (max-width: 768px) {
	.slido {
		width: inherit;
	}
}

.concentration p {
	margin: 0;
	font-size: 0.8rem;
}

.accent-layer {
	min-width: fit-content;
}

.deleteIcon {
	background-image: url("./img/delete.svg");
	height: 50px;
	width: 50px;
	border-radius: 50px;
	background-color: transparent;
	cursor: pointer;
	-webkit-appearance: none;
	background-position: center;
	background-size: cover;
	background-size: 65%;
	background-repeat: no-repeat;
}

.slido::-moz-range-thumb {
	box-shadow: 1px 1px 1px #ffffff;
	border: 1px solid #ffffff;
	height: 35px;
	width: 35px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	background-image: url("./img/lock_open.svg");
	background-position: center;
	background-size: cover;
	background-size: 65%;
	background-repeat: no-repeat;
}
.slido::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #ffffff;
	border: 1px solid #ffffff;
	height: 35px;
	width: 35px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	background-image: url("./img/lock_open.svg");
	background-position: center;
	background-size: cover;
	background-size: 65%;
	background-repeat: no-repeat;
}

.slido.unlocked::-webkit-slider-thumb {
	cursor: pointer;
}

.slido.unlocked::-moz-range-thumb {
	cursor: pointer;
}

.slido.locked::-webkit-slider-thumb {
	background-image: url("./img/lock_closed.svg") !important;
}

.slido.locked::-moz-range-thumb {
	background-image: url("./img/lock_closed.svg") !important;
}
/* 
.carousel__slider::-webkit-scrollbar {
	width: 12px;
}
.carousel__slider::-webkit-scrollbar-track {
	background: #fff; /* color of the tracking area 
}*/
/*
.carousel__slider::-webkit-scrollbar-thumb {
	box-shadow: 1px 1px 1px #ffffff;
	border: 1px solid #000;
	height: 30px;
	width: 30px;
	border-radius: 50px;
	background: #000;
	cursor: pointer;
	-webkit-appearance: none;
} */

.rotation-wrapper-outer {
	display: table;
	margin: 0 auto;
}

.rotation-wrapper-inner {
	padding: 50% 0;
	height: 0;
}

.element-to-rotate {
	display: block;
	transform-origin: top left;
	transform: rotate(-90deg) translate(0, -100%);
	margin-top: -50%;
	white-space: nowrap;
}

.updateFragrance {
	border: 1px solid white;
	border-radius: 30px;
	padding: 8px 20px;
	width: 160px;
	margin: 5px auto;
	cursor: pointer;
	background: #ffffff26;
}

@media (max-width: 576px) {
	#secondNav a span {
		font-size: 13px;
		margin-bottom: 11px;
	}
}
/* END OVERVIEW TEMPLATE */

/* DATA TEMPLATE */

#topMiddleBaseRow h6 {
	font-weight: normal;
	font-size: 12px;
	margin: 0px;
}

#topMiddleBaseRow #topPercentage,
#topMiddleBaseRow #middlePercentage,
#topMiddleBaseRow #basePercentage {
	font-size: 18px;
	font-weight: 500;
}

#mobileChartNav .chartNav {
	font-size: 40px;
	line-height: 40px;
	cursor: pointer;
}

#mobileChartNav #activeChart {
	margin-top: 10px;
}

.remove-z-index {
	z-index: 0;
}

.bottomGradient {
	background: linear-gradient(rgba(0, 130, 170, 0), rgb(201 201 201 / 71%));
}

.point {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.aboveDroplets {
	z-index: 1;
}

.ml-auto {
	margin-left: auto;
}

@keyframes circle-anim {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	60% {
		opacity: 0;
		border-color: #f0f6ff;
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}

#topMiddleBaseVisualiser img:hover {
	animation-name: floating;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 25s;
}

#blendlist {
	/* max-width: 500px; */
	/* margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	width: 100vw; */
}

#blendlist .blends {
	display: flex;
	gap: 1rem;
	overflow-x: auto;
	scroll-snap-type: x;
	scroll-padding: 1rem;
}

#blendlist .blends img {
	scroll-snap-align: center;
	flex: 0 0 150px;
	width: 150px;
	height: 150px;
	border-radius: 5px;
}

.blendButton .blendTab {
	background: white;
	border-radius: 80px;
	padding: 5px 20px 5px 5px;
	margin: 0 auto;
	position: relative;
}
.blendButton .blendPercentage {
	display: flex;
	justify-content: space-between;
}

.blendButton .blendTab .blendImage {
	background: url(img/blendImage.png);
	width: 50px;
	height: 50px;
	border-radius: 360px;
	background-size: cover !important;
}

.vertical-center {
	min-height: 80%; /* Fallback for browsers do NOT support vh unit */
	min-height: 80vh; /* These two lines are counted as one :-)       */

	display: flex;
	align-items: center;
}

.welcome {
	opacity: 0;
	animation: fadein 0.5s forwards;
}

.welcome #animatedGradient {
	animation: gradient-circle 25s ease infinite;
	background: radial-gradient(
		circle at 0%,
		rgb(250, 187, 218),
		rgb(250, 187, 218),
		rgb(238, 129, 124),
		rgb(253, 197, 140),
		rgb(253, 197, 140),
		rgb(251, 230, 139),
		rgb(176, 235, 181),
		rgb(156, 217, 235),
		rgb(156, 217, 235),
		rgb(187, 147, 197),
		rgb(181, 134, 178)
	);
	background-size: 200% 200%;
}
.welcome .aboveDroplets {
	height: 100%;
}
.welcome h4 {
	font-family: "futura-pt";
	font-weight: 100;
}

.welcome a {
	color: #000 !important;
}

.welcome .background-fruit {
	position: absolute;
	height: 90%;
	width: 100%;
	top: -100;
	animation: appearDown 1.5s forwards;
	animation-delay: 0.5s;
}

.welcome .fade-in {
	opacity: 0;
	-webkit-animation: fadein 2s forwards; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s forwards; /* Firefox < 16 */
	-ms-animation: fadein 2s forwards; /* Internet Explorer */
	-o-animation: fadein 2s forwards; /* Opera < 12.1 */
	animation: fadein 2s forwards;

	animation-delay: 2s;
}

.welcome .lime {
	margin-left: -7rem;
}

.blends h2 {
	font-weight: 400;
}

.blend-option {
	opacity: 0;
	box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
	animation: fadein 0.5s forwards;
}

.blend-option-1 {
	animation-delay: 0.3s;
}

.blend-option-2 {
	animation-delay: 0.6s;
}

.blend-option-3 {
	animation-delay: 0.9s;
}

.blend-option .blend-option-img {
	height: 250px;
	overflow: hidden;
}
.blend-option img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.blend-option h3 {
	font-size: 20px;
}

.blend-option h2 {
	font-size: 20px;
	font-weight: 400;
}
.blend-option .blend-option-orange {
	background-color: #f4c694;
}
.blends a {
	color: #000;
	font-weight: 500;
}

.blend-no {
	font-size: 20px;
}
.blend-price {
	font-size: 15px;
	text-align: end;
}

.blend-ranges a,
.blend-search-results a {
	color: #000;
	font-weight: 500;
}

.example-blend {
	opacity: 0;
	animation: fadein 0.5s forwards;
	animation-delay: 0.2s;
	padding: 0;
	max-width: 500px;
	box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.example-blend .checkbox {
	width: 1.5em;
    height: 1.5em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;

}

.word-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.word-list a {
	text-decoration: none;
	color: #000;
	font-size: 25px;
	margin-left: 1rem;
	margin-right: 1rem;
}

.word-list .selected {
	text-decoration: underline;
	font-weight: 700;
}

.blend-words,
.blend-search {
	position: absolute;
	z-index: 9;
	width: 100%;

	/* background: #fff; */
}

.blend-ranges .sticky-footer {
	position: sticky;
    bottom: 0rem;
}

.blend-ranges .sticky-footer .row {
	width: 100%;
}

.sticky-footer {
	position: fixed;
	bottom: -5rem;
	width: 100%;
	height: 80px;
	box-shadow: rgba(79, 103, 128, 0.8) 0px 8px 24px;
	z-index: 10;
	background: #fff;
	animation: appearUp 0.5s forwards;
}

.sticky-footer button {
	border: 1px solid #000;
	padding: 1rem 0rem;
	width: 150px;
}

.sticky-footer .clear {
	background-color: #fff;
}

.sticky-footer .apply {
	background-color: #000;
	color: #fff;
}

.catagories .catagory-collapse {
	color: #000;
	text-decoration: none;
	font-size: 21px;
}

.card {
	border: none;
	padding-left: 0;
	padding-right: 0;
}

.catagory {
	border-top: 2px solid #e4e1e1;
}

.card h2 {
	font-size: 21px;
	font-weight: 400;
}

.card img {
	object-fit: cover;
}

.arrow {
	margin: 1em 1em 0.5em 0em;
}

.arrow::before {
	position: absolute;
	transition: transform 0.25s;
	transform-origin: 50% 0%;
}

.arrow.down::before {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transition: transform 0.25s;
}

.form-check {
	padding-left: 0;
}

.example-blend .form-check-input-custom[type="checkbox"][disabled] {
	background-color: rgba(0,0,0, 0.03);
}

.example-blend .form-check-input-custom[type="checkbox"] {
	border-radius: 0%;
}

.example-blend .form-check-input-custom:checked {
	background-color: #000;
}

.example-blend .form-check-input-custom:checked[type="checkbox"]:after {
	color: #fff;
}

.form-check-input-custom[type="checkbox"] {
	border-radius: 50%;
}

.form-check-input-custom:checked {
	background-color: #fff;
	border-color: #000;
}
.form-check-input-custom:checked[type="checkbox"] {
	background-image: none;
}

.form-check-input-custom:checked[type="checkbox"]:after,
.form-check-input-custom:checked[type="radio"]:after {
	background-image: none;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f00c";
	color: #000;
	margin-left: 3px;
}

.bottle-size {
	opacity: 0.5;
}

.bottle-size.selected {
	opacity: 1;
}

.choose-bottle-size .fade-in {
	opacity: 0;
	animation: fadein 1s forwards 0.5s;
}

.form-check-input-custom {
	width: 1.5em;
	height: 1.5em;
	margin-top: 0.25em;
	vertical-align: top;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 1px solid rgba(0, 0, 0, 0.25);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
}

.form-check .form-check-input-custom {
	margin-left: 10px;
}

.form-check-label {
	float: left;
	margin-top: 5px;
	color: #000;
}

.select-one,
.select-all {
	float: right;
}

.close {
	font-size: 20px;
	font-weight: 100;
	display: inline;
}
.close:hover {
	font-size: 20px;
	font-weight: 900;
	cursor: pointer;
}

.input-group {
	box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}
.form-control {
	border: none;
}

.input-group-text {
	background: none;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 24px;
	width: 24px;
	background: url("./img/close.svg");
	cursor: pointer;
}

.autocomplete-items {
	position: absolute;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
	margin-top: 1em;
	box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	font-weight: 500;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
	background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
	background-color: DodgerBlue !important;
	color: #ffffff;
}

.blend-template {
	padding-bottom: 100px;
}

.blend-info .blend-header {
	font-size: 20px;
}

.border-bottom {
	border-bottom: 2px solid #e4e1e1 !important;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

.border-top {
	border-top: 2px solid #e4e1e1 !important;
	padding-top: 1rem;
	margin-top: 1rem;
}

.blend-info .blend-price {
	font-size: 20px;
}
.blend-info p {
	font-size: 18px;
	margin-bottom: 2rem;
}

.ingredients {
	font-weight: 500;
	font-size: 20px;
	padding-left: 1rem;
	padding-right: 1rem;
	border-right: 2px solid #e4e1e1 !important;
}

.senses-tags {
	padding-left: 1rem;
	padding-right: 1rem;
}

.ingredients .blend-notes {
	margin-top: 2rem;
	font-size: 15px;
}

.sensory-catagories {
	margin-top: 2rem;
}

.sensory-catagories :is(a, p) {
	color: #000;
	font-size: 20px;
	font-weight: 500;
}

.tags {
	margin-left: 1rem;
}

.tag {
	font-family: "futura-pt";
	font-size: 20px;
	font-weight: 500;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
	border: 2px solid #000;
	border-radius: 3rem;
	margin-bottom: 1em;
	white-space: nowrap;
	text-align: center;
	display: inline-block;
}

.sticky-footer-blend button {
	width: 100%;
	font-size: 18px;
}

@media (max-width: 768px) {
	.sticky-footer-blend button {
		width: 90%;
	}
}

.catagory-collapse {
	color: #000;
	text-decoration: none;
	font-size: 21px;
}

.blend-ingredients .catagory-collapse i,
.faqs .catagory-collapse i,
.allergens .catagory-collapse i {
	line-height: 0.5;
}
.allergens .material-icons-outlined {
	margin-right: 1rem;
	font-size: 30px;
}
.blend-ingredients .fade-in {
	opacity: 0;
	animation: fadein 0.3s forwards;
	animation-delay: 0.3s;
}

.blend-ingredients .ingredients {
	border-right: none !important;
}

.blend-ingredients .ingredients p {
	font-weight: 500;
	font-size: 15px;
}

.blend-ingredients .ingredients .blend-notes {
	margin-top: 2rem;
	font-size: 12px;
}

.faqs .fade-in {
	opacity: 0;
}

.box-shadow {
	box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.color-foreground {
	background-image: radial-gradient(
		circle at 0%,
		rgba(250, 187, 218, 0.3),
		rgba(250, 187, 218, 0.3),
		rgba(238, 129, 124, 0.3),
		rgba(253, 197, 140, 0.3),
		rgba(253, 197, 140, 0.3),
		rgba(251, 230, 139, 0.3),
		rgba(176, 235, 181, 0.3),
		rgba(156, 217, 235, 0.3),
		rgba(156, 217, 235, 0.3),
		rgba(187, 147, 197, 0.3),
		rgba(181, 134, 178, 0.3)
	);
}

.ingredient-composition p {
	font-weight: 500;
}

.ingredient-composition h2 {
	font-size: 25px;
}

.color-foreground img {
	position: relative;
	z-index: -1;
	display: block;
	height: 220px;
}

.blend-ingredients .blend-price {
	font-size: 20px;
}

@media (max-width: 768px) {
	.blend-percentage {
		font-size: 18px !important;
	}
	.choose-perfume .single-blend h2 {
		font-size: 15px;
	}
}

.reward-stars {
	font-size: 20px;
}

.reward-stars span {
	font-size: 15px;
}

.dropdown-toggle {
	color: #000;
	text-decoration: none;
	margin-left: 1rem;
}

.dropdown-toggle::after {
	margin-left: 4.255em;
	border-top: 0.5em solid;
	border-right: 0.4em solid transparent;
	border-left: 0.4em solid transparent;
}

.bottle-cap-mini {
	position: absolute;
	height: 29%;
	width: 22%;
	top: 18%;
	left: 38%;
	border-radius: 5px 5px 0px 0px;
	z-index: 5;
}

.choose-cap {
	padding-bottom: 100px;
}

.tabs .col {
	border-bottom: 2px solid rgba(0,0,0,0.1);
	cursor: pointer;
}

.tabs .col.active {
	border-bottom: 2px solid rgba(0,0,0,1);
}

.box {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}

.bottle-bg {
	top: 0;
	left: 0;
	height: 100%;
	background-image: url("./img/bottle.png");
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1;
}

.box .bottle-cap {
	position: absolute;
	height: 29%;
	width: 19.8%;
	top: 17.5%;
	left: 39.5%;
	border-radius: 5px 5px 0px 0px;
	margin: 0;
	padding: 0;
	z-index: 5;
}

.box .bottle-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("./img/bottle.png");
	background-size: cover;
	z-index: 1;
}

.white .bottle-bg-mini {
	background-image: none;
	background-color: #fff;
	border: 1px solid #000;
}

.brown .bottle-bg-mini {
	background-image: none;
	background-color: #a87e81;
}

.red .bottle-bg-mini {
	background-image: none;
	background-color: #e08680;
}

.orange .bottle-bg-mini {
	background-image: none;
	background-color: #f4c694;
}

.green .bottle-bg-mini {
	background-image: none;
	background-color: #e7ecb6;
}

.blue .bottle-bg-mini {
	background-image: none;
	background-color: #5e81bd;
}

.light-blue .bottle-bg-mini {
	background-image: none;
	background-color: #a9d9e8;
}

.white.bottle-cap,
.white .bottle-cap-mini {
	background: linear-gradient(0.25turn, #fff 30%, #ffffffdf, #fff 70%);
}
.brown.bottle-cap,
.brown .bottle-cap-mini {
	background: linear-gradient(0.25turn, #a87e81 30%, #ffffffdf, #a87e81 70%);
}
.red.bottle-cap,
.pink .bottle-cap-mini {
	background: linear-gradient(0.25turn, #e08680 30%, #ffffffdf, #e08680 70%);
}
.orange.bottle-cap,
.orange .bottle-cap-mini {
	background: linear-gradient(0.25turn, #f4c694 30%, #ffffffdf, #f4c694 70%);
}
.blue.bottle-cap,
.blue .bottle-cap-mini {
	background: linear-gradient(0.25turn, #5e81bd 30%, #ffffffdf, #5e81bd 70%);
}
.light-blue.bottle-cap,
.light-blue .bottle-cap-mini {
	background: linear-gradient(0.25turn, #a9d9e8 30%, #ffffffdf, #a9d9e8 70%);
}
.green.bottle-cap,
.green .bottle-cap-mini {
	background: linear-gradient(0.25turn, #e7ecb6 30%, #ffffffdf, #e7ecb6 70%);
}

.white.bottle {
	border: 96px solid #fff;
	border-top: 73px solid #fff;
	border-bottom: none;
}

.brown.bottle {
	border: 96px solid #a87e81;
	border-top: 73px solid #a87e81;
	border-bottom: none;
}
.red.bottle {
	border: 96px solid #e08680;
	border-top: 73px solid #e08680;
	border-bottom: none;
}
.orange.bottle {
	border: 96px solid #f4c694;
	border-top: 73px solid #f4c694;
	border-bottom: none;
}
.blue.bottle {
	border: 96px solid #5e81bd;
	border-top: 73px solid #5e81bd;
	border-bottom: none;
}

.light-blue.bottle {
	border: 96px solid #a9d9e8;
	border-top: 73px solid #a9d9e8;
	border-bottom: none;
}
.green.bottle {
	border: 96px solid #e7ecb6;
	border-top: 73px solid #e7ecb6;
	border-bottom: none;
}

.box .bottle {
	position: absolute;
	height: 54%;
	width: 77.8%;
	top: 46.5%;
	left: 10.5%;
	border-radius: 5px 5px 0px 0px;
	margin: 0;
	padding: 0;
	z-index: 5;
}

.box .bottle-bg-mini {
	border-radius: 50%;
	background-size: cover;
}
@media (max-width: 540px) {
	.box .perfume-name {
		position: absolute;
		height: 27%;
		width: 47%;
		top: 58%;
		left: 26%;
		border-radius: 5px 5px 0px 0px;
		margin: 0;
		padding: 0;
		z-index: 5;
		background-color: #fff;
	}

	.box .perfume-name h2 {
		margin-top: 25%;
		font-size: 12px;
	}

	.bottle {
		border-width: 40px !important;
	}
}

@media (max-width: 720px) {
	.box .perfume-name {
		position: absolute;
		height: 27%;
		width: 41%;
		top: 58%;
		left: 29%;
		border-radius: 5px 5px 0px 0px;
		margin: 0;
		padding: 0;
		z-index: 5;
		background-color: #fff;
	}

	.box .perfume-name h2 {
		margin-top: 25%;
		font-size: 12px;
	}

	.bottle {
		border-width: 40px !important;
	}
}

.box .perfume-name {
	position: absolute;
	height: 27%;
	width: 47%;
	top: 58%;
	left: 26%;
	border-radius: 5px 5px 0px 0px;
	margin: 0;
	padding: 0;
	z-index: 5;
	background-color: #fff;
}

.box .perfume-name h2 {
	margin-top: 25%;
}

.fw-400 {
	font-weight: 400;
}
.fw-500 {
	font-weight: 500;
}
.fw-900 {
	font-weight: 900;
}

@media screen and (min-width: 600px) {
	p.w-md-50 {
		width: 50% !important;
	}
  }

.remove-white-bg {
	mix-blend-mode: multiply;
}

.bottle-colour {
	height: 100%;
	cursor: pointer;
}

.cap-cols {
	height: 27rem;
	cursor: pointer;
}

@media (min-width: 769px) {
	.__floater {
		max-width: 50% !important;
	}

}

@media (max-width: 768px) {
	.__floater {
		max-width: 75% !important;
	}

}
	

@media (max-width: 768px) {
	.bottle-colour {
		width: 100%;
	}
	.horizontal-scrollable > .cap-cols {
		flex-wrap: initial;
	}
}
@media (min-width: 540px) {
	.cap-cols {
		height: auto;
	}
}

@media (min-width: 768px) {
	.cap-cols {
		height: 16rem;
	}
}

@media (min-width: 992px) {
	.cap-cols {
		height: 16rem;
	}
}

@media (min-width: 1200px) {
	.cap-cols {
		height: 21rem;
	}
}

@media (min-width: 1400px) {
	.cap-cols {
		height: 27rem;
	}
}

.horizontal-scrollable > .cap-cols {
	overflow-x: auto;
	white-space: nowrap;
}

.horizontal-scrollable > .cap-cols > .col-xs-4 {
	display: inline-block;
	float: none;
}

.coloured-border-bottom {
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(
		to bottom left,
		#b827fc 0%,
		#2c90fc 25%,
		#b8fd33 50%,
		#fec837 75%,
		#fd1892 100%
	);
	border-image-slice: 1;
	width: 100%;
}

.space-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.aboveDroplets > .container-md {
	animation: slideDown 1s;
	animation-fill-mode: forwards;
	background: #fff;
	padding-bottom: 100px;
}

@keyframes slideDown {
	from {
		transform: translateY(-400px);
	}
	to {
		transform: translateY(0);
	}
}

.ReactCollapse--collapse {
	transition: height 500ms;
}

.button--reset {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.slider-title {
	display: flex;
	justify-content: center;
}

.carousel > .carousel__slider--horizontal {
	overflow: visible;
	overflow-x: hidden;
	height: 100vh;
}

:is(a, button).btn-simple {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	text-decoration: underline;
}

button.primary,
a.primary.primary-btn {
	background-color: transparent;
	padding: 0.5rem 2.5rem;
	height: fit-content;

	transition: all 0.3s;
}

button.primary:hover,
a.primary.primary-btn:hover {
	background-color: black;
	color: white;
}

a.primary.primary-btn {
	border: 2px solid black;
	padding: 0.5rem 2.5rem;
	text-decoration: none;
	transition: all 0.3s;
	color: #000;
}

a.secondary.secondary-btn {
	border: 2px solid white;
	padding: 0.5rem 2.5rem;
	text-decoration: none;
	transition: all 0.3s;
	background-color: #000;
}

button.secondary-alternate {
	background-color: black;
}

:is(a, button).secondary.secondary-btn {
	background-color: #000;
}

:is(a, button).secondary.secondary-btn {
	color: white;
	padding: 0.5rem 2.5rem;
	height: fit-content;
	border: solid 2px white;
	transition: all 0.3s;
}

button.secondary:hover,
button.secondary-alternate:hover,
a.secondary.secondary-btn:hover {
	background-color: white;
	color: black;
	border: solid 2px black;
}

button.secondary-alternate:hover {
	border: solid 2px black;
}

.tns-inner .item {
	display: inline-block;
}

#secondNav .price span#totalPrice {
	font-size: 1.2rem;
}

.tns-controls {
	gap: 4rem;
	position: relative;
}

.tns-controls::after {
	position: absolute;
	left: 50%;
	bottom: 0px;
	transform: translate(-50%, -50%);
	content: "";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	border-top: 10px solid #fff;
}

.tns-controls button {
	background: transparent;
	border: none;
	color: transparent;
	border-right: 2px solid #fff;
	border-top: 2px solid #fff;
	height: 30px;
	width: 30px;
	margin-bottom: 1.5rem;
	transition: all 0.2s ease-in;
}

.tns-controls button[disabled] {
	opacity: 0;
}

.tns-controls button[data-controls="prev"] {
	transform: rotate(225deg);
}

.tns-controls button[data-controls="next"] {
	transform: rotate(45deg);
}

@media (max-width: 992px) {
	.tns-controls {
		display: none;
	}
}

.react-joyride__overlay {
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0.5) 40%,
		rgba(247, 247, 247, 0) 60%
	);
}

.react-joyride__overlay.reverse-overlay {
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0.5) 40%,
		rgba(247, 247, 247, 0) 60%
	);
}
